In [2]:
import os
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
plt.style.use('seaborn')

In [3]:
dataset_list = ["olist_customers_dataset","olist_geolocation_dataset","olist_order_items_dataset","olist_order_payments_dataset","olist_orders_dataset","olist_products_dataset","product_category_name_translation"]
for csv in dataset_list:
    locals()[csv] = pd.read_csv("C:/Users/akankshasaxena3/Downloads/olist/"+csv+".csv")

In [4]:
olist_products_dataset.head()
#contains information about product characteristics such as its category, height, width, length, and weight of products.

,product_id,product_category_name,product_name_lenght,product_description_lenght,product_photos_qty,product_weight_g,product_length_cm,product_height_cm,product_width_cm
0,1e9e8ef04dbcff4541ed26657ea517e5,perfumaria,40.0,287.0,1.0,225.0,16.0,10.0,14.0
1,3aa071139cb16b67ca9e5dea641aaa2f,artes,44.0,276.0,1.0,1000.0,30.0,18.0,20.0
2,96bd76ec8810374ed1b65e291975717f,esporte_lazer,46.0,250.0,1.0,154.0,18.0,9.0,15.0
3,cef67bcfe19066a932b7673e239eb23d,bebes,27.0,261.0,1.0,371.0,26.0,4.0,26.0
4,9dc1a7de274444849c219cff195d0b71,utilidades_domesticas,37.0,402.0,4.0,625.0,20.0,17.0,13.0

In [5]:
olist_orders_dataset.head()
#contains order information. which order was placed by which customer, and at what time. 
#Additionally, it contains information about order status also, which is essential in estimating
#consumer purchase probability. However, this dataset doesn’t provide information about which order 
#contains which products. This is where the olist_order_items_dataset is needed.

,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date
0,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,delivered,2017-10-02 10:56:33,2017-10-02 11:07:15,2017-10-04 19:55:00,2017-10-10 21:25:13,2017-10-18 00:00:00
1,53cdb2fc8bc7dce0b6741e2150273451,b0830fb4747a6c6d20dea0b8c802d7ef,delivered,2018-07-24 20:41:37,2018-07-26 03:24:27,2018-07-26 14:31:00,2018-08-07 15:27:45,2018-08-13 00:00:00
2,47770eb9100c2d0c44946d9cf07ec65d,41ce2a54c0b03bf3443c3d931a367089,delivered,2018-08-08 08:38:49,2018-08-08 08:55:23,2018-08-08 13:50:00,2018-08-17 18:06:29,2018-09-04 00:00:00
3,949d5b44dbf5de918fe9c16f97b45f8a,f88197465ea7920adcdbec7375364d82,delivered,2017-11-18 19:28:06,2017-11-18 19:45:59,2017-11-22 13:39:59,2017-12-02 00:28:42,2017-12-15 00:00:00
4,ad21c59c0840e6cb83a9ceb5573f8159,8ab97904e6daea8866dbdbc4fb7aad2c,delivered,2018-02-13 21:18:39,2018-02-13 22:20:29,2018-02-14 19:46:34,2018-02-16 18:17:02,2018-02-26 00:00:00

In [6]:
olist_order_items_dataset.head()

,order_id,order_item_id,product_id,seller_id,shipping_limit_date,price,freight_value
0,00010242fe8c5a6d1ba2dd792cb16214,1,4244733e06e7ecb4970a6e2683c13e61,48436dade18ac8b2bce089ec2a041202,2017-09-19 09:45:35,58.90,13.29
1,00018f77f2f0320c557190d7a144bdd3,1,e5f2d52b802189ee658865ca93d83a8f,dd7ddc04e1b6c2c614352b383efe2d36,2017-05-03 11:05:13,239.90,19.93
2,000229ec398224ef6ca0657da4fc703e,1,c777355d18b72b67abbeef9df44fd0fd,5b51032eddd242adc84c38acab88f23d,2018-01-18 14:48:30,199.00,17.87
3,00024acbcdf0a6daa1e931b038114c75,1,7634da152a4610f1595efa32f14722fc,9d7a1d34a5052409006425275ba1c2b4,2018-08-15 10:10:18,12.99,12.79
4,00042b26cf59d7ce69dfabb4e55b4fd9,1,ac6c3623068f30de03045865e4e10089,df560393f3a51e74553ab94004ba5c87,2017-02-13 13:57:51,199.90,18.14

In [8]:
olist_order_items_dataset[olist_order_items_dataset['order_id'] == 'd543201a9b42a1402ff97e65b439a48b']

,order_id,order_item_id,product_id,seller_id,shipping_limit_date,price,freight_value
94061,d543201a9b42a1402ff97e65b439a48b,1,595fac2a385ac33a80bd5114aec74eb8,289cdb325fb7e7f891c38608bf9e0962,2018-08-23 10:50:54,116.9,22.75
94062,d543201a9b42a1402ff97e65b439a48b,2,595fac2a385ac33a80bd5114aec74eb8,289cdb325fb7e7f891c38608bf9e0962,2018-08-23 10:50:54,116.9,22.75

In [9]:
# Comparing the two rows
different_columns = olist_order_items_dataset.iloc[94061] != olist_order_items_dataset.iloc[94062]

# Identifying columns with different values
different_columns = different_columns[different_columns].index.tolist()
print(different_columns)

['order_item_id']

In [10]:
olist_order_items_dataset.shape,olist_orders_dataset.shape

((112650, 7), (99441, 8))

In [11]:
olist_order_items_dataset.duplicated().sum(),olist_orders_dataset.duplicated().sum()

(0, 0)

In [8]:
transaction_df = olist_orders_dataset.merge(olist_order_items_dataset,on = 'order_id',how ='inner')

transaction_df: this dataset contains information regarding which products make up a particular order on a particular day. Corresponding to each product now we also have information about consumer_id i.e. we now have knowledge about which exact item was ordered the customer on a particular day

In [9]:
transaction_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 112650 entries, 0 to 112649
Data columns (total 14 columns):
 #   Column                         Non-Null Count   Dtype
---  ------                         --------------   -----
 0   order_id                       112650 non-null  object
 1   customer_id                    112650 non-null  object
 2   order_status                   112650 non-null  object
 3   order_purchase_timestamp       112650 non-null  object
 4   order_approved_at              112635 non-null  object
 5   order_delivered_carrier_date   111456 non-null  object
 6   order_delivered_customer_date  110196 non-null  object
 7   order_estimated_delivery_date  112650 non-null  object
 8   order_item_id                  112650 non-null  int64
 9   product_id                     112650 non-null  object
 10  seller_id                      112650 non-null  object
 11  shipping_limit_date            112650 non-null  object
 12  price                          112650 non-null  float64
 13  freight_value                  112650 non-null  float64
dtypes: float64(2), int64(1), object(11)
memory usage: 12.9+ MB

In [11]:
transaction_df.shape,transaction_df.duplicated().sum()

((112650, 14), 0)

In [12]:
for column in olist_products_dataset.columns:
    print("number of null values in "+column+" is "+str(olist_products_dataset[column].isnull().sum()))

number of null values in product_id is 0
number of null values in product_category_name is 610
number of null values in product_name_lenght is 610
number of null values in product_description_lenght is 610
number of null values in product_photos_qty is 610
number of null values in product_weight_g is 2
number of null values in product_length_cm is 2
number of null values in product_height_cm is 2
number of null values in product_width_cm is 2

In [22]:
prod_id_missing_cat = olist_products_dataset[olist_products_dataset['product_category_name'].isnull()==True]['product_id'].drop_duplicates()
prod_id_missing_cat.shape
#number of unique products which do not have a category in olist_products_dataset df

(610,)

In [23]:
prod_id_with_cat = olist_products_dataset[olist_products_dataset['product_category_name'].isnull()==False]['product_id'].drop_duplicates()
prod_id_with_cat.shape
#number of unique products which do have a category in olist_products_dataset df

(32341,)

In [24]:
prod_id_missing_cat.isin(prod_id_with_cat).sum()

0

no overlap exists between products that have a category assigned to them and those that do not have category assigned to them
if any product would have overlapped between the two sets a direct mapping could have been done to fill null product category for such products.

In [15]:
olist_products_dataset['product_category_name'].nunique(),olist_products_dataset['product_id'].nunique()
#total 73 unique categories exists for 32951 unique products

(73, 32951)

In [25]:
transaction_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 112650 entries, 0 to 112649
Data columns (total 14 columns):
 #   Column                         Non-Null Count   Dtype
---  ------                         --------------   -----
 0   order_id                       112650 non-null  object
 1   customer_id                    112650 non-null  object
 2   order_status                   112650 non-null  object
 3   order_purchase_timestamp       112650 non-null  object
 4   order_approved_at              112635 non-null  object
 5   order_delivered_carrier_date   111456 non-null  object
 6   order_delivered_customer_date  110196 non-null  object
 7   order_estimated_delivery_date  112650 non-null  object
 8   order_item_id                  112650 non-null  int64
 9   product_id                     112650 non-null  object
 10  seller_id                      112650 non-null  object
 11  shipping_limit_date            112650 non-null  object
 12  price                          112650 non-null  float64
 13  freight_value                  112650 non-null  float64
dtypes: float64(2), int64(1), object(11)
memory usage: 12.9+ MB

In [26]:
olist_products_dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32951 entries, 0 to 32950
Data columns (total 9 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   product_id                  32951 non-null  object
 1   product_category_name       32341 non-null  object
 2   product_name_lenght         32341 non-null  float64
 3   product_description_lenght  32341 non-null  float64
 4   product_photos_qty          32341 non-null  float64
 5   product_weight_g            32949 non-null  float64
 6   product_length_cm           32949 non-null  float64
 7   product_height_cm           32949 non-null  float64
 8   product_width_cm            32949 non-null  float64
dtypes: float64(7), object(2)
memory usage: 2.3+ MB

In [27]:
product_df=transaction_df.merge(olist_products_dataset,on = 'product_id',how = 'inner')

In [28]:
product_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 112650 entries, 0 to 112649
Data columns (total 22 columns):
 #   Column                         Non-Null Count   Dtype
---  ------                         --------------   -----
 0   order_id                       112650 non-null  object
 1   customer_id                    112650 non-null  object
 2   order_status                   112650 non-null  object
 3   order_purchase_timestamp       112650 non-null  object
 4   order_approved_at              112635 non-null  object
 5   order_delivered_carrier_date   111456 non-null  object
 6   order_delivered_customer_date  110196 non-null  object
 7   order_estimated_delivery_date  112650 non-null  object
 8   order_item_id                  112650 non-null  int64
 9   product_id                     112650 non-null  object
 10  seller_id                      112650 non-null  object
 11  shipping_limit_date            112650 non-null  object
 12  price                          112650 non-null  float64
 13  freight_value                  112650 non-null  float64
 14  product_category_name          111047 non-null  object
 15  product_name_lenght            111047 non-null  float64
 16  product_description_lenght     111047 non-null  float64
 17  product_photos_qty             111047 non-null  float64
 18  product_weight_g               112632 non-null  float64
 19  product_length_cm              112632 non-null  float64
 20  product_height_cm              112632 non-null  float64
 21  product_width_cm               112632 non-null  float64
dtypes: float64(9), int64(1), object(12)
memory usage: 19.8+ MB

In [31]:
product_df = product_df[['order_id', 'product_id', 'price', 'freight_value',
       'order_purchase_timestamp', 'product_category_name',
       'product_name_lenght', 'product_description_lenght',
       'product_photos_qty', 'product_weight_g', 'product_length_cm',
       'product_height_cm', 'product_width_cm']]

In [32]:
product_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 112650 entries, 0 to 112649
Data columns (total 13 columns):
 #   Column                      Non-Null Count   Dtype
---  ------                      --------------   -----
 0   order_id                    112650 non-null  object
 1   product_id                  112650 non-null  object
 2   price                       112650 non-null  float64
 3   freight_value               112650 non-null  float64
 4   order_purchase_timestamp    112650 non-null  object
 5   product_category_name       111047 non-null  object
 6   product_name_lenght         111047 non-null  float64
 7   product_description_lenght  111047 non-null  float64
 8   product_photos_qty          111047 non-null  float64
 9   product_weight_g            112632 non-null  float64
 10  product_length_cm           112632 non-null  float64
 11  product_height_cm           112632 non-null  float64
 12  product_width_cm            112632 non-null  float64
dtypes: float64(9), object(4)
memory usage: 12.0+ MB

In [33]:

product_df.shape,product_df.drop_duplicates().shape

((112650, 13), (102425, 13))

In [37]:
product_df['product_category_name'].isnull().sum()

1603

In [38]:
product_df['order_purchase_timestamp'] = pd.to_datetime(product_df['order_purchase_timestamp'])
product_df['order_purchase_timestamp'] = product_df['order_purchase_timestamp'].dt.strftime('%Y-%m-%d')

In [39]:
final_product_df = product_df[['product_id','order_purchase_timestamp','price','freight_value','product_category_name','product_name_lenght','product_description_lenght','product_photos_qty','product_weight_g','product_length_cm','product_height_cm','product_width_cm']]

In [40]:
final_product_df.drop_duplicates().shape,final_product_df.shape

((99625, 12), (112650, 12))

In [41]:
final_product_df[final_product_df.duplicated()]

,product_id,order_purchase_timestamp,price,freight_value,product_category_name,product_name_lenght,product_description_lenght,product_photos_qty,product_weight_g,product_length_cm,product_height_cm,product_width_cm
29,595fac2a385ac33a80bd5114aec74eb8,2018-08-21,116.9,22.75,perfumaria,29.0,178.0,1.0,400.0,19.0,13.0,19.0
31,595fac2a385ac33a80bd5114aec74eb8,2018-01-02,117.9,12.83,perfumaria,29.0,178.0,1.0,400.0,19.0,13.0,19.0
39,595fac2a385ac33a80bd5114aec74eb8,2018-05-02,119.9,15.72,perfumaria,29.0,178.0,1.0,400.0,19.0,13.0,19.0
62,595fac2a385ac33a80bd5114aec74eb8,2018-08-18,116.9,22.75,perfumaria,29.0,178.0,1.0,400.0,19.0,13.0,19.0
73,595fac2a385ac33a80bd5114aec74eb8,2017-12-12,118.0,9.02,perfumaria,29.0,178.0,1.0,400.0,19.0,13.0,19.0
...,...,...,...,...,...,...,...,...,...,...,...,...
112627,f5e585e188891ed071253bacfad60820,2018-05-07,194.8,19.24,informatica_acessorios,38.0,511.0,1.0,100.0,16.0,8.0,12.0
112632,af16005fca813272caf59c432153949e,2017-11-18,75.9,9.35,moveis_decoracao,55.0,1186.0,2.0,800.0,53.0,8.0,20.0
112633,af16005fca813272caf59c432153949e,2017-11-18,75.9,9.35,moveis_decoracao,55.0,1186.0,2.0,800.0,53.0,8.0,20.0
112634,af16005fca813272caf59c432153949e,2017-11-18,75.9,9.35,moveis_decoracao,55.0,1186.0,2.0,800.0,53.0,8.0,20.0
112646,0df37da38a30a713453b03053d60d3f7,2017-08-10,356.0,18.12,esporte_lazer,53.0,1105.0,1.0,2800.0,28.0,23.0,23.0

In [43]:
prod = '595fac2a385ac33a80bd5114aec74eb8'
day = '2018-08-21'
product_df.query("product_id == @prod and order_purchase_timestamp == @day")

,order_id,product_id,price,freight_value,order_purchase_timestamp,product_category_name,product_name_lenght,product_description_lenght,product_photos_qty,product_weight_g,product_length_cm,product_height_cm,product_width_cm
15,21b966a378471db65c18fa4ca20d6800,595fac2a385ac33a80bd5114aec74eb8,116.9,15.92,2018-08-21,perfumaria,29.0,178.0,1.0,400.0,19.0,13.0,19.0
28,d543201a9b42a1402ff97e65b439a48b,595fac2a385ac33a80bd5114aec74eb8,116.9,22.75,2018-08-21,perfumaria,29.0,178.0,1.0,400.0,19.0,13.0,19.0
29,d543201a9b42a1402ff97e65b439a48b,595fac2a385ac33a80bd5114aec74eb8,116.9,22.75,2018-08-21,perfumaria,29.0,178.0,1.0,400.0,19.0,13.0,19.0

In [44]:
final_product_df.query("product_id == @prod and order_purchase_timestamp == @day")

,product_id,order_purchase_timestamp,price,freight_value,product_category_name,product_name_lenght,product_description_lenght,product_photos_qty,product_weight_g,product_length_cm,product_height_cm,product_width_cm
15,595fac2a385ac33a80bd5114aec74eb8,2018-08-21,116.9,15.92,perfumaria,29.0,178.0,1.0,400.0,19.0,13.0,19.0
28,595fac2a385ac33a80bd5114aec74eb8,2018-08-21,116.9,22.75,perfumaria,29.0,178.0,1.0,400.0,19.0,13.0,19.0
29,595fac2a385ac33a80bd5114aec74eb8,2018-08-21,116.9,22.75,perfumaria,29.0,178.0,1.0,400.0,19.0,13.0,19.0

In [45]:
count_df = final_product_df.groupby(['product_id', 'order_purchase_timestamp']).size().reset_index(name='demand')
count_df.drop_duplicates().shape,count_df.shape

((94591, 3), (94591, 3))

In [46]:
final_df = count_df.merge(final_product_df.drop_duplicates(),on = ['product_id', 'order_purchase_timestamp'],how = 'left')

In [47]:
final_df.drop_duplicates().shape,final_df.shape #duplicates because timestamp is converted to day , we removed the time aspect

((99625, 13), (99625, 13))

In [48]:
final_df.shape,final_df.drop_duplicates().shape

((99625, 13), (99625, 13))

In [49]:
final_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 99625 entries, 0 to 99624
Data columns (total 13 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   product_id                  99625 non-null  object
 1   order_purchase_timestamp    99625 non-null  object
 2   demand                      99625 non-null  int64
 3   price                       99625 non-null  float64
 4   freight_value               99625 non-null  float64
 5   product_category_name       98226 non-null  object
 6   product_name_lenght         98226 non-null  float64
 7   product_description_lenght  98226 non-null  float64
 8   product_photos_qty          98226 non-null  float64
 9   product_weight_g            99609 non-null  float64
 10  product_length_cm           99609 non-null  float64
 11  product_height_cm           99609 non-null  float64
 12  product_width_cm            99609 non-null  float64
dtypes: float64(9), int64(1), object(3)
memory usage: 10.6+ MB

In [49]:
final_df.to_csv("C:/Users/akankshasaxena3/Downloads/olist/product_charateristics_df_developed_in_easy_way.csv")